/* .badstudent{
    background-image: url("https://media.istockphoto.com/vectors/sad-robot-demolition-drawing-vector-id525527483?k=20&m=525527483&s=612x612&w=0&h=pQQQC9z0GWPAtuBkAFq09uI3chF0eRNKA9ikaihd0D8=");
    max-width: auto;
   max-height: 400px;
   top:0;
   bottom:0;
   left:0;
   right:0;
   
   margin: auto;
   position: fixed;
   
   -o-object-fit: contain;
   object-fit: contain;
   overflow-x:hidden;
   overflow-y:hidden; 
   background-repeat: no-repeat;
   background-position: center;
   background-size:auto;
} */

