.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.aboutBottom table{
  border-collapse: collapse;
}

.aboutBottom  td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.aboutBottom th, td  {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

/* .aboutBottom p {
  width: 1200px;
  
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
} */
