.navbar {
  width: 100%;
  height: 50px;
  position:sticky;
  top:0;
  left:0px;
  bottom:0;
  margin:0;
  background-color: #0e212e;
  display: flex; 
  flex-direction: row;
  /* padding-top:40; */

  border: 0;
padding: 0;

}

.navbar .leftSide {
  flex: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1px;
  justify-content: left;
}

.navbar .leftSide img {
  width: 70px;
}

.navbar .rightSide {
  float: right;
  flex: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar .loggedInContainer {
  flex: 100%;
  height: 1000%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.navbar .loggedInContainer button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}


.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 60px;
  margin: 5px;
}
@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}

